/*
!/brands/
!/bitrix/
/bitrix/*
!/bitrix/templates/
!/bitrix/php_interface/
/bitrix/php_interface/init.php
/bitrix/php_interface/dbconn.php
!/bitrix/admin/
!/bitrix/components/
!/bitrix/templates/
!/bitrix/php_interface/
!/catalog/
!/local/
!/logistic/

/*.*
!/.gitignore
!/README.md

*.log
*.txt