.detail .colorSize .selectric-wrapper:last-child {
    padding-left: 0 !important;
}
.detail .colorSize .selectric-wrapper:first-child {
    padding-right: 0 !important;
}
  .choose-size-wrap {
    margin-top: 16px;
    clear: right;
}
  .flex-row{
      padding: 0;
      margin: 0;
      list-style: none;

      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;

      -webkit-flex-flow: row wrap;
      justify-content: start;
    }
 
    .sizes-chart-item {
      width: 46px;
      line-height: 46px;
      text-align: center;
      border: 1px #ddd solid;
      position: relative;
    }

    .sizes-chart-item:hover{
      color: red;
      cursor: pointer;
    }

    .selected{
      color: red;
    }


 
 .sizes-chart-header {
      justify-content: space-between;
      margin-top: 16px;
      width: 100%;
    }
    .size_range_name {
      font-size: 11px;
      letter-spacing: 1px;
      font-weight: 500;
      margin-left: 4px;
    }

    .size_range_name.selected {
      color: red;
    }

    .sizes-chart-item_shops {
      display: none;
      position: absolute;
      z-index: 1;
      width: 200px;
      /*left: -206px;*/
      top: 0;
      font-size: 11px;
      letter-spacing: 1px;
      color: black;
      text-transform: uppercase;
      box-shadow: 0 0 5px rgba(0,0,0,0.5);
      line-height: 20px;
        text-align: left;
        padding: 12px;
        	background-color: white;
    }
   
a.show_size_grid_trigger {
    float: right;
    font: 11px 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: #000;
    margin-bottom: 12px;
}
.available_shops_header {
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    margin: 24px 0 12px;
}